
@{
    ViewData["Title"] = "Protected";
}

<h1>صفحه محافظت شده</h1>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">صفحه اصلی</a>
<a class="btn btn-danger" asp-controller="Account" asp-action="Logout">خروج از سیستم</a>


