
@{
    Layout = "_Layout1";
    ViewData["Title"] = "AboutUs";
}


<div class="row">
    <div class="col px-0" style="margin-top:75px;">
        <img src="~/assets/aboutUs/aboutus-header.jpg" alt="AboutUs" class="img-fluid" />
    </div>
</div>

<div class="container" style="overflow-x: hidden;">
    <div class="border border-light bg-danger text-light my-3 mx-3">
        <div class="wow bounceInRight ">
            <div class="media">
                <img class="align-self-center " src="~/assets/aboutUs/01-aboutus.jpg" alt="AboutUs" style="width:40%; margin:10px;" />
                <div class="media-body m-5">
                    <h5 class="mt-0 underline">درباره ما</h5>
                    <p class="text-justify">

                        سیتی کالا به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با پایبندی به سه اصل،
                        پرداخت در محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا موفق شده تا همگام با فروشگاه‌های معتبر جهان، به
                        بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل شود. به محض ورود به سایت سیتی کالا با دنیایی از کالا رو به رو
                        می‌شوید! هر آنچه که نیاز دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="border border-light bg-danger text-light my-3 mx-3">
        <div class="wow bounceInLeft ">
            <div class="media">

                <div class="media-body m-5">
                    <h5 class="mt-0 underline">درباره برند</h5>
                    <p class="text-justify">

                        سیتی کالا به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با پایبندی به سه اصل،
                        پرداخت در محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا موفق شده تا همگام با فروشگاه‌های معتبر جهان، به
                        بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل شود. به محض ورود به سایت سیتی کالا با دنیایی از کالا رو به رو
                        می‌شوید! هر آنچه که نیاز دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.

                    </p>
                </div>
                <img class="align-self-center" src="~/assets/aboutUs/02-AboutBrand.jpg" alt="AboutUs" style="width:40%; margin:10px;" />
            </div>
        </div>
    </div>
    <div class="border border-light bg-danger text-light my-3 mx-3">
        <div class="wow bounceInRight ">
            <div class="media">
                <img class="align-self-center " src="~/assets/aboutUs/03-digital-marketing.jpg" alt="digital-marketing" style="width:40%; margin:10px;" />
                <div class="media-body m-5">
                    <h5 class="mt-0 underline">فروش دیجیتال، ضمانت فروش و خدمات پس از خرید</h5>
                    <p class="text-justify">

                        سیتی کالا به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با پایبندی به سه اصل،
                        پرداخت در محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا موفق شده تا همگام با فروشگاه‌های معتبر جهان، به
                        بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل شود. به محض ورود به سایت سیتی کالا با دنیایی از کالا رو به رو
                        می‌شوید! هر آنچه که نیاز دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



